<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>ขอบคุณครับ</title>
    
    {% if service_point_pk %}
    <meta http-equiv="refresh" content="5;url={% url 'survey:survey_display' pk=service_point_pk %}">
    {% endif %}

    <style>
        body { font-family: sans-serif; text-align: center; padding-top: 100px; }
    </style>
</head>
<body>
    <h1>ขอบคุณสำหรับคำตอบ</h1>
    <p>โรงพยาบาลตระการพืชผลจะนำข้อเสนอแนะของท่านไปพัฒนาบริการต่อไป</p>
    <p>(หน้าจอนี้จะรีเซ็ตอัตโนมัติใน 5 วินาที)</p>
</body>
</html>