{% load static %}

<nav class="w-full p-4 bg-[#27693d] text-white flex items-center justify-between shadow-md">

    <div class="flex items-center space-x-4">
        
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="h-20 w-auto ml-10  ">
    </div>

    <div class="flex items-center space-x-6">
        
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white opacity-90 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 10-12 0v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>

        {% if request.user.is_authenticated %}
        <img 
            src="https://api.dicebear.com/7.x/adventurer/svg?seed={{ request.user.username }}&backgroundColor=b6e3f4" 
            alt="User Avatar" 
            class="h-10 w-10 rounded-full border-2 border-white bg-white"
        >
        {% endif %}
    </div>
</nav>